@inherits LayoutComponentBase
@inject NavigationManager _navManager

@if (_navManager.Uri.Contains("admin-cms"))
{
   <PageTitle>DristiGems.WebApp</PageTitle>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{

    <PageTitle>DristiGems.WebApp</PageTitle>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    
}
